<h1 class="bg-primary text-white text-center">
    CheckOut Screen Customer-Details
</h1>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 border border-dark border-6">

    <table class="form-controls">
        <tr>
            <td>
                <label for="cName" class="text-primary">Customer Name </label></td>
            <td>
                <input type ="text"></td>
        </tr>
        <br>
        <tr>
            <td>
                <label for="city" class="text-primary">City </label></td> 
            <td>
                <input type ="text"></td>
        </tr>
        <br>
        <tr>
            <td>
                <label for="pin" class="text-primary">Pin </label></td>
            <td>
                <input type ="text"> </td>
        </tr>
        <br>
        <tr>
            <td>
                <label for="mobile" class="text-primary">Mobile</label></td>
            <td>
                <input type ="text"></td>
        </tr>
    </table>

</div>
</div>
</div>
<br/>
<button class="btn btn-outline-primary btn-lg d-inline m-2"><a routerLink = "/proceed-check-out">Proceed to CheckOut</a></button>
<button class="btn btn-outline-primary btn-lg d-inline m-2"><a routerLink = "/home">Home</a></button>
